/* .productContainers {
  margin-bottom: 100px;
} */
.typesOfPlants {
  margin: 0px 30px;
}
.searchBarContainer {
  margin: 0px auto;
  width: 270px;
  height: 26px;
  border: 1px;
  margin-bottom: 30px;
}
.searchIcon {
  width: 18.33px;
  height: 18.33px;
  margin-right: 20px;
  opacity: 0.8;
}
.plantIcon {
  width: 25px;
  height: 25px;
  opacity: 0.8;
}
.searchBar {
  border: none;
}
.searchBar::placeholder {
  width: 101px;
  height: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.searchBarLine {
  margin-top: 5px;
  width: 100%;
}

.plants {
  display: inline;
  width: 114px;
  background-color: #165315;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
  margin-right: 20px;
  padding: 0px 20px;
}

.pots {
  display: inline;
  width: 114px;
  border: 1px solid #0000004d;
  font-family: Poppins;
  font-size: 15 px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  padding: 0px 20px;
}

.plantDetail {
  font-family: Poppins;
  font-size: 16px;
  /* font-weight: 400; */
  line-height: 24px;
  /* text-align: left; */
  color: #838383;
  margin-top: 20px;
}

.nurseryHeading {
  width: 96px;
  height: 36px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  columns: #000000;
  margin-bottom: 30px;
}
.filterProductContainer {
  display: flex;
  padding: 30px;
}

.filterContainer {
  width: 304px;
  height: 600px;
  background-color: #f0ffe5;
  padding: 20px;
  margin-right: 20px;
}

.filterEactPara {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.filterUnorderList {
  list-style: none;
  padding: 0px;
}
.filterUnorderList > li {
  border-bottom: 2px solid #a8a8a8;
  margin-bottom: 10px;
}

.clearBtn {
  color: #6e6e6e;
  width: 100px;
  height: 19px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}

.TotalProducts {
  width: 100px;
  height: 23px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: center;
  color: #6a6a6a;
  margin-right: 30px;
}
.sortBtn {
  width: 139px;
  height: 36px;
  padding: 6px 7px 6px 7px;
  background-color: #165315;
  color: white;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.productListContainer {
  display: flex;
  width: 100%;
  /* height: 150%; */
  list-style: none;
}
.productContainer {
  width: 100%;
  /* max-width: 500px; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 756px) {
  .plantDetail {
    height: 99px;
  }
  .filterProductContainer {
    flex-direction: row;
  }
  /* .productContainers {
    flex-wrap: wrap;
    flex-direction: column;
  } */
  .productListContainer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* height: 100vh; */
  }
}
@media screen and (max-width: 756px) {
  .plantDetail {
    height: 99px;
    overflow: hidden;
  }
  .filterProductContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .productListContainer {
    /* width: 100%; */
    flex-direction: column;
    margin: 0px auto;
  }
}
