.imgss {
  width: 265px;
  height: 246px;
  border: 1px solid black;
}

.eachPlantItem {
  width: 200px;
  height: 200px;
  border: 1px;
  margin-right: 150px;
  margin-bottom: 320px;
  position: relative;
}
.heartBtn {
  position: absolute;
  right: -60px;
  top: 10px;
}

.productDetailsContainer {
  margin-top: 50px;
  width: 268px;
  height: 160px;
}

.productHeading {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

.productPara {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

  color: #838383;
}

.cutOff {
  text-decoration: line-through;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #5e5a5ab2;
}

.price {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #5e5a5a;
}

.buttonContainer {
  text-align: center;
  display: flex;
  align-items: center;
}

.decreaseBtn,
.increaseBtn {
  background: transparent;
  border: none;
  color: white;
}

.addToCartBtn {
  padding: 0px 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 149px;
  height: 37px;
  border-radius: 10px;
  background-color: #165315;
}

.quantityContainer {
  margin: 0px;
  margin-top: 8px;
  cursor: pointer;
}

.buyOnRent {
  width: 114px;
  height: 37px;
  border-radius: 10px;
  border: 1px;
  border: 1px solid #165315;
  background-color: transparent;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  text-align: left;
  padding-left: 15px;
}
.viewProduct {
  color: white;
  width: 268px;
  height: 36px;
  background: #165315;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

.popContainer {
  background-color: white;
  width: 500px;
  height: 500px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* margin: 0px auto; */
}

.popupImg {
  width: 200px;
  height: 200px;
}

.thankPopContainer {
  width: 500px;
  height: 500px;
}

@media screen and(max-width:756px) {
}
@media screen and (max-width: 756px) {
}
